# --- Project specific binaries ---
akamai-gtm-metrics-exporter
akamai-gtm-metrics-traffic-exporter
akamai-gtm-metrics-*

# -- Don't ignore helm dir --
!helm/akamai-gtm-metrics-exporter/
!helm/akamai-gtm-metrics-exporter/**

# --- macOS specific ---
.DS_Store

# --- IDEs ---
.vscode/

# --- Akamai & Environment ---
.edgerc
*.env
.env.*

prometheus.yml
vendor/
build/
gtm_config.yml
bin/
data/